<%= render :partial => '/admin/public/index_actions' %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, admin_user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= format_date(user.created_at) %></td>
        <td>
          <%= link_to '', admin_role_path(user), :class => 'icon-info-sign', :title => '详细' %>
          <%= link_to '', edit_admin_role_path(user), :class => 'icon-edit', :title => '修改' %>
          <%= link_to '', admin_role_path(user), :method => :delete, :data => { :confirm => '确认删除?' }, :class => 'icon-remove', :title => '删除' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, :renderer => WillPaginate::ActionView::LinkRenderer %>
